/.idea/compiler.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/PanKoo.iml
/.idea/runConfigurations.xml
/.idea/vcs.xml
/.idea/.gitignore
/CodeQuality/CodeQuality.iml
/DataStructuresAlgorithms/DataStructuresAlgorithms.iml
/.idea/checkstyle-idea.xml
